{{set . "title" "Movies of the actor"}}
{{template "header.html" .}}

{{template "App/SearchForm.html" .}}
<br/>

{{$genres := .genres}}

{{if .cast}}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Media Type</th>
            <th>Title</th>
            <th>Release Date</th>
            <th style="min-width:100px">Rating</th>
            <th>Poster</th>
            <th>Genres</th>
            <th>Character</th>
            <th>Overview</th>
            <th>External</th>
        </tr>
    </thead>
    <tbody>
        {{range .cast}}
        <tr>
            <td>{{.Media_type}}</td>
            {{if .Title}}
            <th>{{.Title}}</th>
            {{else}}
            <th>{{.Name}}</th>
            {{end}}
            <td>{{.Release_date}}</td>
            <th>{{.Vote_average}} ({{.Vote_count}})</th>
            <td>
                {{if .Poster_path}}
                <img src="https://image.tmdb.org/t/p/w154{{.Poster_path}}" /></td>
                {{end}}
            <td>
                {{range $index, $value:= .Genre_ids -}}
                    {{- if $index }}, {{end -}}
                    {{- $genrename:=index $genres $value -}}
                    {{- if $genrename}}{{$genrename}}{{else}}_{{end -}}
                {{- end}}
            </td>

            <td>{{.Character}}</td>
            <td>{{.Overview}}</td>
            <td><a href="/App/External?id={{.Id}}" target="_blank">IMDB</a></td>
        </tr>
        {{end}}
    </tbody>
</table>

{{else}}
<p>
    No results
</p>
{{end}}

{{template "footer.html" .}}