{{template "header.html" .}}

{{template "SearchForm.html" .}}
<br/>

{{if .Data}}
<table class="table table-striped table-bordered table-hover" style="max-width:600px">
    <thead>
        <tr>
            <th>Name</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        {{range .Data}}
        <tr>
            <td><a href="/movies?actor={{.ID}}">{{.Name}}</a></td>
            <td>
                {{if .ProfilePath}}
                <a href="/movies?actor={{.ID}}">
                    <img src="https://image.tmdb.org/t/p/w185{{.ProfilePath}}" />
                </a>
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<!--<p>
    <a id="nextPage" href="{{.nextPage}}">More results</a>
</p>-->

{{else}}
<p>
    No results
</p>
{{end}}

{{template "footer.html" .}}